@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/
body {
    background-color: rgb(148, 165, 148);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(19, 82, 19);
}

#principal {
    text-align: center;
    background-color: rgb(19, 82, 19);
    color: white;
}

h2 {
    color: rgb(60, 97, 60);
}

.basico {
    color: rgb(60, 97, 60);

}

.intermediario {
    color: rgb(84, 97, 60)

}

.avancado {
    color: rgb(97, 60, 60);

}

.destaque {
    background-color: rgba(206, 219, 90, 0.521);
}